<h2><%= @house.name%></h2>
<img src="<%= @house.img_url %>" alt="<%= @house.name %>">
<% @house.characters.each do |character| %>
  <div class = "character">
    <h2>
      <%= link_to character.name, house_character_path(character,@house) %>
    </h2>
    <img src="<%= character.img_url %>" alt="<%= character.name %>">
  </div>




<% end %>
